# ignore everything in the root except the "wp-content" directory.
!wp-content/

wp-admin/*
wp-includes/*
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/plugins/*
config.codekit3
sitemap.*
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-config.php
bourbon/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
#wp-content/*
!wp-content/themes/
!wp-content/themes/markelhomes2021/index.php

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/


# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
