# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

# 301 Redirects

Redirect 301 /our-company/	/markel-difference/
Redirect 301 /our-company/sales-centers/	/home-collections/
Redirect 301 /our-company/portfolio/	/markel-difference/
Redirect 301 /faq/	/markel-difference/
Redirect 301 /our-company/blog/	/news/
Redirect 301 /about-you/	/markel-difference/
Redirect 301 /our-company/contact/	/
Redirect 301 /property-search/	/communities/
Redirect 301 /communities/	/communities/
Redirect 301 /communities/	/communities/
Redirect 301 /neighborhood/blue-sage-lafayette/	/communities/blue-sage/
Redirect 301 /neighborhood/north-end/	/communities/north-end/
Redirect 301 /neighborhood/silver-creek-lafayette/	/communities/silver-creek/
Redirect 301 /neighborhood/markel-homes-west-grange-longmont-colorado/	/communities/west-grange/	
Redirect 301 /property-search/	/home-collections/
Redirect 301 /property_category/move-in-ready-homes/	/home-collections/
Redirect 301 /property_category/under-construction/	/home-collections/
Redirect 301 /property_category/coming-soon/	/home-collections/
Redirect 301 /property_category/available-plans/	/home-collections/
Redirect 301 /property_type/single-family/	/home-collections/
Redirect 301 /property_type/half-duplex/	/home-collections/
Redirect 301 /property_type/contemporary-cottage/	/home-collections/
Redirect 301 /property_type/condo-loft/	/home-collections/
Redirect 301 /property_type/town-home/	/home-collections/
Redirect 301 /custom-homes/	/home-collections/
Redirect 301 /property_category/recently-sold/	/home-collections/
Redirect 301 /virtual-tours/	/home-collections/
Redirect 301 /realtors/	/realtors/
Redirect 301 /realtors/broker-registration/	/realtors/
Redirect 301 /our-company/sales-centers/	/home-collections/
Redirect 301 /about-you/	/markel-difference/
Redirect 301 /faq/	/markel-difference/