@import 'design';


.page-section {
  &.community-section {
    .map-container { flex-basis: 100%; }
  }
}

#communityMap {
  .mapboxgl-popup { max-width: 300px !important;
    &.mapboxgl-popup-anchor-top {
      .mapboxgl-popup-tip { border-bottom-color: $aqua; }
    }
    .mapboxgl-popup-tip { border-top-color: $aqua; }
    .mapboxgl-popup-content { background: $aqua; padding: 0; color: $white;
      .mapboxgl-popup-close-button { color: $white; font-size: 24px; text-shadow: 0 0 4px rgba($black,.5); }

      .community-details { padding: 15px; text-align: center;
        .community-name { font-size: 26px; margin-bottom: 0; }
        .community-address,
        .community-info { font-size: 14px; }

        .community-info { line-height: 21px; }
      }
    }
  }
}

/*** SMALL DEVICES : Landscape phones, 576px + ***/
@media (min-width: 576px){

}

/*** IPHONE X : Landscape ***/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/*** MEDIUM DEVICES : Tablets, 768px + ***/
@media (min-width: 768px){
  .page-section {
    &.community-section {
      .map-container { margin-top: 0; }
    }
  }
}

/*** LARGE DEVICES : Desktops, 992px and up ***/
@media (min-width: 992px){

}

/*** EXTRA LARGE DEVICES : Large Desktops, 1200px + ***/
@media (min-width: 1200px){

}

/*
:::::::::: CUSTOM MEDIA QUERIES IF NEEDED ::::::::::
*/
